<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form method="post" action="/todos/<%= todo.id %>?_method=PUT">
    <div>
      <label for="titleInput">タイトル</label>
      <input type="text" name="title" id="titleInput" placeholder="タイトル" required autofocus value="<%= todo.title %>">
    </div>
    <div>
      <label for="contentsInput">内容説明</label>
      <textarea name="description" id="contentsInput" placeholder="内容" rows="3"><%= todo.description %></textarea>
    </div>
    <div>
      <label for="deadlineInput">期限</label>
      <input type="date" name="deadline" id="deadlineInput" required value="<%= todo.deadline %>"></textarea>
    </div>
    <div>
      <label for="titleInput">状態: <%= todo.completed ? "完了" : "未完了" %></label>
    </div>
    <div>
      <label for="titleInput">ID: <%= todo.id %></label>
    </div>
    <hr>
    <button type="submit">更新</button>
  </form>
  <button onclick="location.href='/todos/<%= todo.id %>'">キャンセル</button>
</body>
</html>